<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <span class="title">Dark theme:</span>
  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    theme="dark"
  ></log-monitor>



  <log-monitor
    [logStream]="logStream$ | async"
    theme="dark"
    title="NGRX action dispatch logs"
    [animated]="true"
    [icons]="true"
    [history]="restoredLogs"
  ></log-monitor>

  <span class="title">Light theme:</span>

  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    theme="light"
  ></log-monitor>



  <span class="title">With title dark:</span>

  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    title="Admin logs"
  ></log-monitor>



  <span class="title">No icons:</span>

  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    [icons]="false"
  ></log-monitor>


  <span class="title">Hydrated log history:</span>

  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    [history]="logs"
  ></log-monitor>


  <span class="title">No animation:</span>

  <log-monitor
    style="margin: 5px"
    [logStream]="logStream$ | async"
    [animated]="false"
  ></log-monitor>



</div>
