.container {
  height: 60px;
  padding-top: 30px;
}

.title{
  font-size: 18px;
  display: block;
  margin-left: 10px;
}


.footer{
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: #232323;
}
