/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Lucida Console", Monaco, monospace, sans-serif;
}
